<header>

			<div class = "nav-haut">

				<div class="logo">
					<a href= "{{ path("home_front") }}"><img src="{{ asset('images/logo/Logo-ThuyTien2.jpg') }}" alt=""></a>
				</div>
				<nav>		
					<ul>
						<a href="{{ path("app_products_asiatiques") }}"><li>Produits asiatiques</li></a>
						<a href="{{ path("app_products_africains") }}"><li>Produits africains</li></a>
						<a href="{{ path("app_products_vaiselles") }}"><li>Produits vaisselles</li></a>
						<a href="{{ path("app_products_bio") }}"><li>Notre gamme Bio</li></a>		
					</ul>
				</nav>
				 <div class = "user">
                        
                    <a href="{{ path("app_login") }}"><i class="fa-solid fa-user utilisateur"></i> </a>
                </div>
			</div>			

			<div class = "background-haut">
			 	
				<img class = "slide" src="{{asset('images/produit/produit-asi/slides1/6.jpg')}}" alt="">
				<img  class = "slide" src="{{asset('images/produit/produit-asi/slides1/2.jpg')}}" alt="">
				<img class = "slide" src="{{asset('images/produit/produit-asi/slides1/3.jpg')}}" alt="">
				<img class = "slide" src="{{asset('images/produit/produit-asi/slides1/4.jpg')}}" alt="">
				<img class = "slide" src="{{asset('images/produit/produit-asi/slides1/5.jpg')}}" alt="">
				<img class = "slide" src="{{asset('images/produit/produit-asi/slides1/7.jpg')}}" alt="">	

			</div>

</header>