

{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h6>Categories</h6>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th> 
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    <a href="{{ path('show_categorie_one', {'id': categorie.id}) }}">Voir</a>
                   
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categories_ajout') }}">Ajoutez une nouvelle categorie</a>
{% endblock %}

